.list {
  display: block;
  margin: 0;
  margin-bottom: var(--size-gap);
  margin-top: var(--size-gap);
}

.listItem {
  margin: 0;
}

.listItem::marker {
  color: #e95800;
}

.listItem:nth-child(2)::marker {
  color: #159bf3;
}

.listItem:nth-child(3)::marker {
  color: #8eb814;
}

.listItem:nth-child(4)::marker {
  color: #663399;
}

.listItemLink {
  color: var(--color-primary);
  font-weight: bold;
}

.listItemDescription {
  color: var(--color-text);
  margin-bottom: 0;
  margin-top: var(--space-1);
  font-size: 0.85rem;
  color: #777;
}

.section {
  margin-top: 3.0rem;
  margin-bottom: 0.5rem;
}

.section h3 {
  margin-bottom: 0.5rem;
}

.section h4 {
  margin-top: 1.0rem;
  margin-bottom: 0.5rem;
}

.section ul {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}